@using System.Web.Helpers
<div>
    <table class="table table-striped table-bordered" id="example6">
        <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Email</th>
                <th>Avatar</th>
                <th class="tabledit-toolbar-column"></th>
            </tr>
        </thead>
        <tbody>
            <tr id="1">
                <td>1</td>
                <td>markcell</td>
                <td>markcell@example.com</td>
                <td>Iron Man</td>

            </tr>
            <tr id="2">
                <td>2</td>
                <td>dotz</td>
                <td>dotz@example.com</td>
                <td>Captain America</td>

            </tr>
            <tr id="3">
                <td>3</td>
                <td>zikospeed</td>
                <td>zikospeed@example.com</td>
                <td>Black Widow</td>

            </tr>
        </tbody>
    </table>


</div>

<script src="~/js/jquery.tabledit.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        //var obj = '{ "1": "Black Widow", "2": "Captain America", "3": "Iron Man" }';

        var obj = '@(Html.Raw(ViewBag.DD))';
        alert(obj);
        $('#example6').Tabledit({
            url: 'example.php',
            hideIdentifier: true,
            buttons: {
                edit: {
                    class: 'btn btn-sm btn-primary',
                    html: '<span class="glyphicon glyphicon-pencil"></span> &nbsp EDIT',
                    action: 'edit'
                },
                delete: {
                    class: 'btn btn-sm btn-danger',
                    html: '<span class="glyphicon glyphicon-trash"></span> &nbsp DELETE',
                    action: 'delete'
                },
                confirm: {
                    class: 'btn btn-sm btn-default',
                    html: 'Are you sure?'
                }
            },
            columns: {
                identifier: [0, 'id'],
                editable: [[1, 'username'], [2, 'email'], [3, 'avatar', obj]]
            },
            onDraw: function () {
                console.log('onDraw()');
            },
            onSuccess: function (data, textStatus, jqXHR) {
                console.log('onSuccess(data, textStatus, jqXHR)');
                console.log(data);
                console.log(textStatus);
                console.log(jqXHR);
            },
            onFail: function (jqXHR, textStatus, errorThrown) {
                console.log('onFail(jqXHR, textStatus, errorThrown)');
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
            },
            onAlways: function () {
                console.log('onAlways()');
            },
            onAjax: function (action, serialize) {
                console.log('onAjax(action, serialize)');
                console.log(action);
                console.log(serialize);
            }
        });

    });

</script>
