@using System.Web.Helpers
<style type="text/css">

    fieldset {
        border: none;
        padding-left: 0;
        margin-left: 0;
    }

    #lblDBXP {
        font-weight: bold;
    }

    #choicelist {
        border: 1px solid #d6d6d6;
        width: 100%;
        min-width: 200px;
        max-width: 500px;
        border-radius: 2px;
        display: none;
    }

    #selectedDBXP {
        border: 1px solid #d6d6d6;
        width: 100%;
        min-width: 200px;
        max-width: 500px;
        border-radius: 2px;
        height: 2.5em;
        background-color: #fff;
        position: relative;
        text-align: left;
    }

    #choicelist > div {
        padding: 10px 0px 10px 5px;
    }

    .wanhorkin {
        font-weight: bold;
    }

    label {
        font-weight: bold;
    }

    input[type="text"] {
        margin: 0px 0px 20px 10px;
    }

    .fa-chevron-down {
        position: absolute;
        right: 1em;
        top: 0.9em;
        color: #a8a8a8;
        transition: transform .2s ease-out, color .2s ease-out;
        font-size: 0.85em;
    }

    .fa-chevron-down--open {
        transform: rotate(-180deg) translate(0, 2px);
        color: #404040;
    }
</style>
<div>
    <table class="table table-striped table-bordered" id="example6">
        <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Email</th>
                <th>Avatar</th>
                <th class="tabledit-toolbar-column"></th>
            </tr>
        </thead>
        <tbody>
            <tr id="1">
                <td>1</td>
                <td>markcell</td>
                <td>markcell@example.com</td>
                <td>Iron Man</td>

            </tr>
            <tr id="2">
                <td>2</td>
                <td>dotz</td>
                <td>dotz@example.com</td>
                <td>Captain America</td>

            </tr>
            <tr id="3">
                <td>3</td>
                <td>zikospeed</td>
                <td>zikospeed@example.com</td>
                <td>Black Widow</td>

            </tr>
        </tbody>
    </table>

    <form id="myForm2">
        <div id="lblDBXP">Which of the following Relational Database Management Systems (RDBMS) are you experienced with?</div>
        <button id="selectedDBXP" aria-expanded="false" aria-labelledby="lblDBXP DBXPList" onclick="return DBXPclick(event);">
            <span id="DBXPList"></span>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </button>

        <fieldset aria-labelledby="lblDBXP">
            <div id="choicelist">

                <label><input onclick="CheckAll('group1', this);" type="checkbox" /> Group A</label>
                <fieldset id="group1">
                    <div><input type="text" name="FirstName" value="Mickey"></div>
                    <div><input type="checkbox" name="Check" value="Yes"></div>
                    <div class="wanhorkin"><input value="300" type="checkbox" name="ENG101"> English</div>
                    <div><input value="500" type="checkbox" name="SCI101"> Science</div>
                    <div><input value="755" type="checkbox" name="CLE101"> Christian Living</div>
                </fieldset>
                <label><input onclick="CheckAll('group2', this);" type="checkbox" /> Group B</label>
                <fieldset id="group2">
                    <div><input value="245" type="checkbox" name="ENG202"> English</div>
                    <div><input value="534" type="checkbox" name="SCI202"> Science</div>
                    <div><input value="623" type="checkbox" name="CLE202"> Christian Living</div>
                    <div><input value="954" type="checkbox" id="id_MAT101" name="MAT101"> Math</div>
                </fieldset>
                <p></p>

            </div>
        </fieldset>
       
        <button type="submit" id="frmsubmit" onclick="DBXPSubmit(this)">Submit</button>
    </form>

</div>
<!-- start -->
<link href="~/lib/multi-select/css/multi-select.css" rel="stylesheet">
<div class="container">
    <div class="page-header" id="demos">
        <h1>Pre-selected-options</h1>
        <select id='pre-selected-options' multiple='multiple'>
            <option value='elem_1' selected>elem 1</option>
            <option value='elem_2'>elem 2</option>
            <option value='elem_3'>elem 3</option>
            <option value='elem_4' selected>elem 4</option>
            <option value='elem_100'>elem 100</option>
        </select>
    </div>
</div>
        <!-- ends -->
        <script src="~/js/jquery.tabledit.min.js"></script>
        <script src="~/js/TestSideBar.js"></script>
        <script src="~/js/jquery.quicksearch.js"></script>
        <script src="~/lib/multi-select/js/jquery.multi-select.js"></script>

        <script type="text/javascript">

     $('#pre-selected-options').multiSelect({
  selectableHeader: "<div><input type='text' class='search-input' autocomplete='off' placeholder='try \"12\"'></div>",
  selectionHeader: "<div><input type='text' class='search-input' autocomplete='off' placeholder='try \"4\"'></div>",
  afterInit: function(ms){
    var that = this,
        $selectableSearch = that.$selectableUl.prev(),
        $selectionSearch = that.$selectionUl.prev(),
        selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
        selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

    that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
    .on('keydown', function(e){
      if (e.which === 40){
        that.$selectableUl.focus();
        return false;
      }
    });

    that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
    .on('keydown', function(e){
      if (e.which == 40){
        that.$selectionUl.focus();
        return false;
      }
    });
  },
  afterSelect: function(){
    this.qs1.cache();
    this.qs2.cache();
  },
  afterDeselect: function(){
    this.qs1.cache();
    this.qs2.cache();
  }
});

        //var obj = '{ "1": "Black Widow", "2": "Captain America", "3": "Iron Man" }';


        var obj = '@(Html.Raw(ViewBag.DD))';
        alert(obj);
        $('#example6').Tabledit({
            url: 'example.php',
            hideIdentifier: true,
            buttons: {
                edit: {
                    class: 'btn btn-sm btn-primary',
                    html: '<span class="glyphicon glyphicon-pencil"></span> &nbsp EDIT',
                    action: 'edit'
                },
                delete: {
                    class: 'btn btn-sm btn-danger',
                    html: '<span class="glyphicon glyphicon-trash"></span> &nbsp DELETE',
                    action: 'delete'
                },
                confirm: {
                    class: 'btn btn-sm btn-default',
                    html: 'Are you sure?'
                }
            },
            columns: {
                identifier: [0, 'id'],
                editable: [[1, 'username'], [2, 'email'], [3, 'avatar', obj]]
            },
            onDraw: function () {
                console.log('onDraw()');
            },
            onSuccess: function (data, textStatus, jqXHR) {
                console.log('onSuccess(data, textStatus, jqXHR)');
                console.log(data);
                console.log(textStatus);
                console.log(jqXHR);
            },
            onFail: function (jqXHR, textStatus, errorThrown) {
                console.log('onFail(jqXHR, textStatus, errorThrown)');
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
            },
            onAlways: function () {
                console.log('onAlways()');
            },
            onAjax: function (action, serialize) {
                console.log('onAjax(action, serialize)');
                console.log(action);
                console.log(serialize);
            }
        });



        </script>
