@model CRM.Models.ViewModels.CampaignPagination

@{

    ViewData["Title"] = "Campaign";
}
<link rel="stylesheet" href="~/css/section.css" />


@*<h2>Customer</h2>*@

<div>@Html.ValidationSummary(true, "", new { @class = "text-danger" })</div>

<section>
    <aside>
        <div>
            @{
                Html.RenderPartial("../Shared/_CampaignLeftBarMenuPartial");
            }
        </div>
    </aside>

    <main>
        @{
            if (Model != null)
            {
                Html.RenderPartial("_CampaignListPartial", Model);
            }
        }
    </main>

</section>

<script src="~/js/campaign.js" asp-append-version="true"></script>
