<ul class="navbar-nav flex-grow-1">
    <li class="nav-item"><a class="nav-link text-black" asp-area="" asp-controller="User" asp-action="Index">Listing</a></li>
    <li class="nav-item"><a class="nav-link text-black"  href="#" onclick="userNew();" >Create New</a></li>

</ul>